<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= datas.city %> Weather</title>
    <body>
      <div class="jumbotron jumbotron-fluid bg-info text-white" >
    <div class="container">
    <h1 class="display-2"><%= datas.city %> Weather</h1>
    </div>
  </div>

  <body>
      <div class="container">
        <div class="row">
          <div class="col-sm-1">
              <h2 class="display-1"> <%= Math.round(datas.temp) %> </h2>
            </div>
            <div class="col-sm-1">
                <h2> &deg;C</h2>
                <img src="http://openweathermap.org/img/w/10d.png" alt="rain" height="70" width="70">
              </div>
          </div>
         <div class="row">
          <div class="col-sm-6">
         <h5><script type="text/javascript">

              var d=new Date()
              var weekday=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday",
              "Friday","Saturday")
            document.write( `${weekday[d.getDay()]}`);
          </script> </h5>
         <p> <%= datas.description %></p>
         <p>Pressure: <%= datas.pressure %> </p>
         <p> Humidity: <%= datas.humidity %> </p>
          </div>

     </div>
     <div class="row">
         <div class="col-md-3 ">
           <img src="http://openweathermap.org/img/w/02d.png" alt="" height="70" width="70">
           <script type="text/javascript">
                var d=new Date()
                var weekday=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday",
                "Friday","Saturday")
              document.write( `${weekday[d.getDay() + 1]}`);
            </script>
           <p id="description"><%= datas.description2 %></p>
           <!-- <p> icon: <%= datas.iconS2 %> </p> -->
           <p> Temperature: <%= datas.temp2 %> </p>
           <p> Pressure: <%= datas.pressure2 %> </p>
           <p> Humidity: <%= datas.humidity2 %> </p>
         </div>

         <div class="col-md-3 ">
           <img src="http://openweathermap.org/img/w/10d.png" alt="" height="70" width="70">
           <script type="text/javascript">
                var d=new Date()
                var weekday=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday",
                "Friday","Saturday")
              document.write( `${weekday[d.getDay() + 2]}`);
            </script>
           <!--<p> icon: <%= datas.iconS3 %><p> -->
           <p id="description"> <%= datas.description3 %></p>
           <p> Temperature: <%= datas.temp3 %> </p>
           <p> Pressure: <%= datas.pressure3 %> </p>
           <p> Humidity: <%= datas.humidity3 %> </p>
         </div>

         <div class="col-md-3 ">
           <img src="http://openweathermap.org/img/w/01d.png" alt="" height="70" width="70">
           <script type="text/javascript">
                var d=new Date()
                var weekday=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday",
                "Friday","Saturday")
              document.write( `${weekday[d.getDay() + 3]}`);
            </script>
           <!--<p> icon: <%= datas.iconS4 %><p> -->
           <p id="description"> <%= datas.description4 %></p>
           <p> Temperature: <%= datas.temp4 %> </p>
           <p> Pressure: <%= datas.pressure4 %> </p>
           <p> Humidity: <%= datas.humidity4 %> </p>
         </div>

         <div class="col-md-3 ">
           <img src="http://openweathermap.org/img/w/10d.png" alt="" height="70" width="70">
           <script type="text/javascript">
                var d=new Date()
                var weekday=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday",
                "Friday","Saturday")
              document.write( `${weekday[d.getDay() + 4]}`);
            </script>
          <!-- <p> icon: <%= datas.iconS5 %><p> -->
           <p id="description"> <%= datas.description5 %></p>
           <p> Temperature: <%= datas.temp5 %> </p>
           <p> Pressure: <%= datas.pressure5 %> </p>
           <p> Humidity: <%= datas.humidity5 %> </p>
         </div>
       </div>

       <div class="footer">
         <p>Copyright © 2018  - All Rights Reserved </p>
         <p>Contact information: <a href="micheal4s@live.co.uk">micheal4s@live.co.uk</a>.</p>
       </div>
  </body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
